@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;
}

body {
    min-height: 230vh;
    background-color: #2e2e2e;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( #0398fc, #dedede);
    z-index: -1;
    clip-path: circle(22% at 30% 20%);
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( #dedede, #39bf59);
    z-index: -1;
    clip-path: circle(22% at 70% 80%);
}

body::-webkit-scrollbar {
    width: 10px;
    position: relative;
    right: 20px;
}

body:-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    position: relative;
    right: 2px;
}

body::-webkit-scrollbar-thumb {
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 10px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 0 50px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.menu {
    display: flex;
}

.icon {
    background: #0398fc;
}

ul {
    display: flex;
    list-style: none;
}

ul li a {
    position: relative;
    color: #0398fc;
    padding: 5px 20px;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon ul li a {
    color: #fff;
}

ul li a span {
    transition: 0.5s;
    transition-delay: calc(0.05s * var(--i));
}

ul li a span:nth-child(2) {
    position: absolute;
    transform: translateY(35px);
    font-size: 1.3em;
}

ul li:hover a span:nth-child(2) {
    color: #39bf59;
}

.icon ul li a span:nth-child(2) {
    transform: translateY(5px);
}

.icon ul li a span:nth-child(1) {
    transform: translateY(-35px);
}

.brand {
    position: relative;
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: none;
    color: #0398fc;
    padding: 5px 0;
    overflow: hidden;
}

.brand i {
    color: #39bf59;
}

.brand span {
    transition: 0.5s;
    display: block;
}

.brand span:nth-child(1) {
    position: absolute;
    transform: translateY(-80px);
    font-size: 1.3em;
}

.icon .brand span:nth-child(1) {
    transform: translateY(-5px);
}

.icon .brand span:nth-child(2) {
    transform: translateY(35px);
}

input[type=checkbox] {
    display: none;
} 

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
    color: #000;
    width: 40px;
    height: 40px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.main {
    width: 100%;
    height: 100vh;
    color: #000;
    position: relative;
    margin-top: 90px;
    z-index: 1;
}

.scroller {
    width: 100%;
    height: 100px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 0 50px;
    margin-top: 50px;
    overflow: hidden;
}

.scroller h1 {
    font-size: 3em;
    font-weight: 600;
    padding: 20px;
    white-space: nowrap;
}

#top_info {
    transform: translateX(100%);
    animation: my-animation 10s linear infinite;
}

@keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-150%); }
}

.location {
    width: 49%;
    height: 400px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
    float: left;
    top: 10px;
    border-radius: 10px;
    overflow-y: auto;
}

.location h3 {
    width: 100%;
    height: 60px;
    background: #333333f7;
    backdrop-filter: blur( 9px );
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    /* margin-top: 20px; */
    position: sticky;
    top: 0;
    z-index: 2;
}

.location::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

.location::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    position: relative;
    right: 2px;
}

.location::-webkit-scrollbar-thumb {
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 10px;
}

#locstop1, #locstop2, #locstop3, #locstop4, #locstop5 {
    overflow-x: hidden;
}

.stopsnearby {
    display: inline-block;
    position: relative;
    top: 10px;
    padding: 0 20px;
    overflow-x: hidden;
}

.stopsnearby li {
    width: 42.9vw;
    height: 100px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-bottom: 10px;
    border-radius: 15px;
}

.stopsnearby div#stop1, .stopsnearby div#stop2, .stopsnearby div#stop3, .stopsnearby div#stop4, .stopsnearby div#stop5 {
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px 20px; 
    position: relative;
    top: 25px;
}

#departures1, #departures2, #departures3, #departures4, #departures5 {
    width: 45%;
    /* height: 100px; */
    float: right;
    position: relative;
    bottom: 30px;
    text-align: right;
    right: 50px;
}

#route1, #route2, #route3, #route4, #route5 {
    display: inline-block;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    height: 23px;
    background: #33333340;
    /* backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 15px ); */
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1em;
    color: white;
    text-align: center;
}

/* #departure {
    position: relative;
    top: 10px;
} */

.encyclopedia_menu {
    justify-content: space-between;
    float: right;
    width: 49%;
    height: 400px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    position: relative;
    top: 10px;
}

.encyclopedia_menu h3 {
    width: 100%;
    height: 60px;
    background: #333333f7;
    backdrop-filter: blur( 9px );
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: sticky;
    border-radius: 10px;
    top: 0;
    z-index: 1;
}

.optionsandregion {
    margin-top: 15px;
}

#region {
    width: 100%;
    height: 30px;
    margin: 0 auto;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #4f39bf;
}

.optionsfortransit {
    margin: 0 auto;
    flex-wrap: wrap;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.optionsfortransit::-webkit-scrollbar {
    display: none;
}

.optionsfortransit li {
    width: 150px;
    height: 100px;
    list-style: none;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: center;
    align-items: center;
}

.optionsfortransit li a {
    position: relative;
    top: 3px;
    text-decoration: none;
    height: 80px;
    display: inline-block;
    color: #fff;
    padding: 20px 30px;
    z-index: 10000;
    opacity: 0.25;
    align-items: center;
    justify-content: center;
}

.optionsfortransit li:hover a {
    opacity: 1;
    color: #0398fc;
    transition: 0.5s;
}

.optionsfortransit li:hover {
    backdrop-filter: blur(5px);
    box-shadow: 0 0 50px 5px #0398fc;
    transition: 0.5s;
}

.moreoptions {
    width: 100%;
    height: 50px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moreoptions a {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
}

.alerts {
    width: 100%;
    height: 500px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.alerts h3 {
    width: 100%;
    height: 60px;
    background: #333333f7;
    backdrop-filter: blur( 9px );
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    border-radius: 10px;
    top: 0;
    z-index: 1;
}

.alertlist {
    width: 90%;
    height: 60px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    border-radius: 15px;
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.alertlist p {
    float: left;
}

.alerts a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    width: 90%;
    height: 30px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 600;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#map {
    width: 100%;
    height: 500px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

#map h3 {
    width: 100%;
    height: 60px;
    background: #333333f7;
    backdrop-filter: blur( 9px );
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    position: sticky;
    border-radius: 10px;
    top: 0;
    z-index: 1;
}

.lines {
    width: 100%;
    height: 500px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.lines h3 {
    width: 100%;
    height: 60px;
    background: #333333f7;
    backdrop-filter: blur( 9px );
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    border-radius: 10px;
    top: 0;
    z-index: 1;
}

.lines::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

.lines::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    position: relative;
    right: 2px;
}

.lines::-webkit-scrollbar-thumb {
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 10px;
}

.lines a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
    width: 90%;
    height: 30px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 600;
    position: relative;
    top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.routelist {
    width: 90%;
    height: 60px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
    border-radius: 15px;
    position: relative;
    top: 25px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.routedesc {
    width: 100%;
}

.routelist #routeno {
    float: left;
    width: 20%;
    height: 60px;
    background-color: #33333340;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.routelist #fullnameofroute {
    float: right;
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: right;
    padding-right: 20px;
    align-items: center;
    color: black;
}

.copyright {
    overflow: hidden;
    width: 100%;
    height: 70px;
    background: rgba( 255, 255, 255, 0.6 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: fixed;
    bottom: 0;
    z-index: 4;
}

.copyright p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: 10px;
}

@media (max-width: 800px) {
    body {
        width: 100%;
        min-height: 130vh;
    }

    .main h1 {
        font-size: 2em;
    }

    .brand span:nth-child(2) {
        /* animation properties */
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        
        -moz-animation: my-animation 15s linear infinite;
        -webkit-animation: my-animation 15s linear infinite;
        animation: my-animation 15s linear infinite;
    }

    @-webkit-keyframes my-animation {
        from { -webkit-transform: translateX(100%); }
        to { -webkit-transform: translateX(-100%); }
    }
      
    @keyframes my-animation {
        from {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
        to {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }

    .brand span:nth-child(1) {
        z-index: 2;
    }

    .location {
        width: 100%;
        height: 400px;
        overflow-x: hidden;
    }

    .stopsnearby li {
        width: 90.9vw;
        height: 100px;
        border-radius: 15px;
    }

    .encyclopedia_menu {
        width: 100%;
        height: 400px;
        margin-top: 15px;
    }

    .alerts {
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 520px) {
    body {
        min-height: 270vh;
    }

    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 80px;
        text-align: center;
        padding: 16px 0;
        background: rgba( 255, 255, 255, 0.9 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 20px );
        -webkit-backdrop-filter: blur( 20px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 10px;
    }

    .menu li:hover {
        display: inline-block;
        transition: 0.3s ease;

    }

    input[type=checkbox]:checked ~ .menu {
        display: block;
    }

    .hamburger {
        display: block;
        text-align: center;
    }

    .icon ul li a {
        color: #0398fc;
    }

    .stopsnearby li {
        width: 86vw;
        height: 100px;
        background: rgba( 255, 255, 255, 0.6 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    .encyclopedia_menu {
        height: 450px;
    }

    .optionsfortransit li {
        /* width: 100%;
        height: 60px; */
        /* margin-bottom: 10px; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .optionsfortransit li:hover a {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .routelist #routeno {
        width: 30%;
    }

    .routelist #fullnameofroute {
        width: 70%;
    }
}