body::before {
    background-image: linear-gradient( #34bceb, #dedede);
}

body::after {
    background-image: linear-gradient( #dedede, #666);
}

.left_navbar li.active {
    background-color: #34bceb98;
}

.left_navbar li:hover:not(.active, .x) {
    background-color: #bbbbbb98;
}

.left_navbar .x:hover { 
    background-color: #34bceb98;
    transition: 0.5s;
}

.info #desc a {
    outline: none;
    color: #34bceb;
}

#direction {
    color: white;
    position: relative;
    top: 0.5px;
}

#list_of_departures::-webkit-scrollbar, #range_of_routes::-webkit-scrollbar,
#map_inter::-webkit-scrollbar, .stats::-webkit-scrollbar,
.began_operation::-webkit-scrollbar, .no_of_lines::-webkit-scrollbar, .contact::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

#list_of_departures::-webkit-scrollbar-track, #range_of_routes::-webkit-scrollbar-track,
#map_inter::-webkit-scrollbar-track, .stats::-webkit-scrollbar-track,
.began_operation::-webkit-scrollbar-track, .no_of_lines::-webkit-scrollbar-track, .contact::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    position: relative;
    right: 2px;
}

#list_of_departures::-webkit-scrollbar-thumb, #range_of_routes::-webkit-scrollbar-thumb,
#map_inter::-webkit-scrollbar-thumb, .stats::-webkit-scrollbar-thumb,
.began_operation::-webkit-scrollbar-thumb, .no_of_lines::-webkit-scrollbar-thumb, .contact::-webkit-scrollbar-thumb {
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 10px;
}