/* General Page */
.light_mode {
    background-color: #dedede;
    color: black;
    transition: 0.4s;
}

.light_mode .left_navbar li a,
.light_mode #clearall_metrolink {
    color: black;
    transition: 0.4s;
}

.light_mode #departures input {
    color: black;
    transition: 0.4s;
}

.light_mode #departures input::placeholder {
    color: black;
    transition: 0.4s;
}

/* Scrollbars */
.light_mode .stats::-webkit-scrollbar-track, .light_mode .began_operation::-webkit-scrollbar-track, 
.light_mode .no_of_lines::-webkit-scrollbar-track, .light_mode .contact::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode .stats::-webkit-scrollbar-thumb, .light_mode .began_operation::-webkit-scrollbar-thumb, 
.light_mode .no_of_lines::-webkit-scrollbar-thumb, .light_mode .contact::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.light_mode #lines::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode #lines::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.light_mode #list_of_metrolink_departures::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode #list_of_metrolink_departures::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.light_mode #alerts::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode #alerts::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.light_mode #map_inter::-webkit-scrollbar-track, .light_mode #range_of_routes::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode #map_inter::-webkit-scrollbar-thumb, .light_mode #range_of_routes::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}