body::before {
    background-image: linear-gradient(#333333, #dedede);
}

body::after {
    background-image: linear-gradient(#dedede, #333333);
}

.left_navbar li.active {
    background-color: #33333398;
}

.left_navbar li:hover:not(.active, .x) {
    background-color: #33333398;
    transition: 0.5s;
}

.info {
    overflow-y: auto;
}

.info #desc a {
    color: #5665a3;
    outline: none;
}

.lines {
    padding: 10px;
}

.symbol_tagged {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    display: flex;
    align-items: center;
}

img.filtered-inverted {
    filter: invert(1);
}

.all_desc_routes {
    width: fit-content;
    margin-left: 10px;
}

#hod_l {
    left: 0;
}

#l_alert_entity {
    padding: 10px;
}

#table_of_l_statuses {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin-top: 10px;
}

#table_of_l_statuses th {
    background: #33333340;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#table_of_l_statuses td {
    padding: 10px;
    text-align: left;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

