/* @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;
}

body {
    background-color: #2e2e2e;
    color: white;
    transition: 0.4s;
} */

body::before {
    /* content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    background-image: linear-gradient(#214e8d, #dedede);
    /* z-index: -1;
    clip-path: circle(22% at 30% 20%); */
}

body::after {
    /* content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    background-image: linear-gradient(#dedede, #5db9e8);
    /* z-index: -1;
    clip-path: circle(22% at 70% 80%); */
}

/* .left_navbar {
    width: 22%;
    height: 100vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 16px;
    position: sticky;
    padding: 10px;
    font-size: 18px;
    list-style-type: none;
}

.left_navbar li {
    width: 20vw;
    border-radius: 10px;
    padding: 5px;
} */

.left_navbar li.active {
    background-color: #214e8d98;
}

.left_navbar li:hover:not(.active, .x) {
    background-color: #5db9e898;
    transition: 0.5s;
}

/* .left_navbar li a.closebtn {
    display: none;
}

.left_navbar li a {
    display: block;
    width: 250px;
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 500;
}

.globe {
    color: rgb(10, 161, 45);
    font-size: 15px;
}

.copyright {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 100;
} */

.main {
    float: right;
    width: 78%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow-y: hidden;
}

.window {
    float: right;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
    right: 0;
    bottom: 0;
}

#sectionheader {
    font-size: 40px;
    margin-top: 55px;
}

#sectionheader i {
    display: none;
}

.info {
    width: 50%;
    height: 100%;
}

.info #desc {
    padding-right: 20px;
    margin-top: 15px;
}

.info #desc a {
    outline: none;
    color: #214e8d;
}

.stats {
    float: right;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: scroll;
}

.began_operation, .no_of_lines, .contact {
    width: 96%;
    height: 40%;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 25px;
    word-wrap: break-word;
    overflow-y: auto;
}

.began_operation h2, .no_of_lines h2, .contact h2 {
    font-weight: normal;
    margin-top: 60px;
    margin-left: 20px;
}

.began_operation p, .no_of_lines p {
    margin-left: 20px;
    font-size: 50px;
}

.contact p {
    font-size: 30px;
    margin-left: 20px;
}

#lines {
    overflow-y: auto;
}

.lines_lr, .lines_bus {
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lines_lr {
    margin-top: 20px;
}

.lines_lr h3, .lines_bus h3 {
    margin-left: 5px;
}

.vta_lr_lines, .vta_bus_lines {
    position: relative;
    margin-left: 20px;
    list-style-type: none;
    padding-top: 10px;
}

.vta_lr_lines li, .vta_bus_lines li {
    margin-bottom: 5px;
}

.vta_lr_lines li, .route_radius {
    display: flex;
}

#route_lr, #route_bus, #route_affected,
#line_for_each_departure_vta_lr, #line_for_each_departure_vta_bus,
#affectedroutes, #route_short {
    display: inline-block;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    height: 23px;
    background: #33333340;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 1em;
    text-align: center;
}

#route_lr, #line_for_each_departure_vta_lr, #route_affected, #route_short {
    display: flex;
    justify-content: center;
    align-items: center;
}

#route_lr img, #line_for_each_departure_vta_lr img, #route_affected img, #route_short img {
    margin-left: 2px;
}

#desc_lr, #desc_bus {
    width: fit-content;
    text-align: right;
    margin-right: 10px;
    right: 50px;
}

#desc_lr {
    text-align: left;
    margin-left: 10px;
}

#departures_lr input, #departures_bus input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #eeeeee40;
    border: 1px solid #eeeeee40;
    color: white;
    padding-left: 10px;
}

#departures_lr input:active, #departures_bus input:active {
    outline: none;
}

.searchbars::placeholder {
    color: white;
}

.headerforvtalr, .headerforvtabus, .headerforvtaalerts {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

#list_of_departures_vta_bus, #list_of_departures_vta_lr {
    width: 100%;
    height: 400px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 10px;
    overflow-y: auto;
}

.stats::-webkit-scrollbar, #lines::-webkit-scrollbar, #list_of_departures_vta_lr::-webkit-scrollbar, #list_of_departures_vta_bus::-webkit-scrollbar, #alerts::-webkit-scrollbar,
#map_inter::-webkit-scrollbar, #range_of_routes::-webkit-scrollbar, .alert_entity_routes::-webkit-scrollbar, .alert_entity_agency::-webkit-scrollbar,
.began_operation::-webkit-scrollbar, .no_of_lines::-webkit-scrollbar, .contact::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

.stats::-webkit-scrollbar-track, #lines::-webkit-scrollbar-track, #list_of_departures_vta_lr::-webkit-scrollbar-track, #list_of_departures_vta_bus::-webkit-scrollbar-track, #alerts::-webkit-scrollbar-track,
#map_inter::-webkit-scrollbar-track, #range_of_routes::-webkit-scrollbar-track, .alert_entity_routes::-webkit-scrollbar-track,
.alert_entity_agency::-webkit-scrollbar-track, .began_operation::-webkit-scrollbar-track, .no_of_lines::-webkit-scrollbar-track, 
.contact::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.stats::-webkit-scrollbar-thumb, #lines::-webkit-scrollbar-thumb, #list_of_departures_vta_lr::-webkit-scrollbar-thumb, #list_of_departures_vta_bus::-webkit-scrollbar-thumb, #alerts::-webkit-scrollbar-thumb,
#map_inter::-webkit-scrollbar-thumb, #range_of_routes::-webkit-scrollbar-thumb, .alert_entity_routes::-webkit-scrollbar-thumb,
.alert_entity_agency::-webkit-scrollbar-thumb, .began_operation::-webkit-scrollbar-thumb, .no_of_lines::-webkit-scrollbar-thumb, 
.contact::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

#line_for_departure_vta_lr, #line_for_departure_vta_bus {
    margin: 10px;
}

#route_depart_vta_lr, #route_depart_vta_bus {
    float: right;
    position: relative;
    right: 3px;
}

.all_clearalls {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    font-size: 1.5em;
    margin-bottom: 25px;
    color: white;
}

#alerts {
    overflow-y: auto;
}

.alert_entity_agency, .alert_entity_routes {
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    overflow-y: auto;
}

.alert_entity_routes {
    height: 400px;
}

.alert_entity_agency h3, .alert_entity_routes h3 {
    margin-left: 5px;
}

#alert_desc_routes, #alert_desc_agency {
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    list-style-type: none;
}

#map_inter {
    overflow-y: auto;
}

.map_box_container{
    position: relative;
    height: 500px !important;
    width: 100% !important;
}

.mapboxgl-canvas-container { height: 100vh; }
  
#map {
    border-radius: 10px;
    margin-top: 20px;
    z-index: 1;
    width: 100%;
    height: 500px;
}

#range_of_routes {
    width: 100%;
    height: 300px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    overflow-y: auto;
}

.route_radius {
    list-style-type: none;
    margin-bottom: 5px;
}

#detailed_route {
    margin-left: 10px;
}

.mapboxgl-popup-content {
    color: black;
    width: fit-content;
}