@media (max-width: 988px) {
    .left_navbar {
        display: none;
        width: 35%;
        background-color: #666;
        z-index: 3;
    }

    .light_mode .left_navbar {
        background-color: #aaa;
    }

    .left_navbar li {
        width: 97%;
    }

    .left_navbar li a.closebtn {
        display: block;
    }

    .left_navbar .x:hover { 
        background-color: #5db9e898;
        transition: 0.5s;
    }

    .main {
        width: 100%;
    }

    #nameswitch i {
        display: block;
        margin-right: 20px;
    }
}

@media (max-width: 600px) { 
    #nameswitch {
        font-size: 30px;
    }

    #nameswitch i {
        margin-right: 0;
    }

    .left_navbar {
        width: 100%;
        z-index: 3;
    }

    .window {
        overflow-y: auto;
    }

    .window::-webkit-scrollbar {
        width: 5px;
        position: relative;
        right: 20px;
    }

    .window::-webkit-scrollbar-track {
        border-radius: 10px;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        position: relative;
        right: 2px;
    }

    .window::-webkit-scrollbar-thumb {
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        background: rgba( 255, 255, 255, 0.25 );
        border-radius: 10px;
    }

    .info {
        width: 100%;
        height: 100%;
    }

    #desc {
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 5px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 20px;
    }

    .stats {
        float: left;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        display: none;
    }

    #line_for_departure_vta_lr, #line_for_departure_vta_bus {
        height: fit-content;
        overflow: hidden;
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 5px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    #line_for_each_departure_vta_lr, #line_for_each_departure_vta_bus {
        margin-left: 2px;
    }
}