.light_mode {
    background-color: #dedede;
    color: black;
    transition: 0.4s;
}

.light_mode .left_navbar li a,
.light_mode .all_clearalls {
    color: black;
    transition: 0.4s;
}

.light_mode .searchbars {
    color: black;
    transition: 0.4s;
}

.light_mode .searchbars::placeholder {
    color: black;
    transition: 0.4s;
}


/* Info Page */
.light_mode .stats::-webkit-scrollbar-track, .light_mode .began_operation::-webkit-scrollbar-track,
.light_mode .no_of_lines::-webkit-scrollbar-track, .light_mode .contact::-webkit-scrollbar-track,
.light_mode .info::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode .stats::-webkit-scrollbar-thumb, .light_mode .began_operation::-webkit-scrollbar-thumb,
.light_mode .no_of_lines::-webkit-scrollbar-thumb, .light_mode .contact::-webkit-scrollbar-thumb,
.light_mode .info::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


/* Lines */
.light_mode #lines::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode #lines::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


/* Departures */
.light_mode .departure_branches::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode .departure_branches::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


/* Alerts */
.light_mode .alert_section_agency::-webkit-scrollbar-track, .light_mode .alert_section_lines::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode .alert_section_agency::-webkit-scrollbar-thumb, .light_mode .alert_section_lines::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


/* Map */
.light_mode #map_inter::-webkit-scrollbar-track, .light_mode #range_of_routes::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode #map_inter::-webkit-scrollbar-thumb, .light_mode #range_of_routes::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}