/* Info Page */
.stats::-webkit-scrollbar, .began_operation::-webkit-scrollbar,
.no_of_lines::-webkit-scrollbar, .contact::-webkit-scrollbar,
.info::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

.stats::-webkit-scrollbar-track, .began_operation::-webkit-scrollbar-track,
.no_of_lines::-webkit-scrollbar-track, .contact::-webkit-scrollbar-track,
.info::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.stats::-webkit-scrollbar-thumb, .began_operation::-webkit-scrollbar-thumb,
.no_of_lines::-webkit-scrollbar-thumb, .contact::-webkit-scrollbar-thumb,
.info::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}


/* Lines */
#lines::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

#lines::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

#lines::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}


/* Departures */
.scroller_departures::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

.scroller_departures::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.scroller_departures::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}


/* Alerts */
.alert_section_agency::-webkit-scrollbar, .alert_section_lines::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

.alert_section_agency::-webkit-scrollbar-track, .alert_section_lines::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.alert_section_agency::-webkit-scrollbar-thumb, .alert_section_lines::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}


/* Map */
#map_inter::-webkit-scrollbar, #range_of_routes::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

#map_inter::-webkit-scrollbar-track, #range_of_routes::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#map_inter::-webkit-scrollbar-thumb, #range_of_routes::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}