.nothing {
    text-decoration: none;
    color: black;
}

.model {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(34, 34, 34, 0.743);
    backdrop-filter: blur( 16px );
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.content {
    position: relative;
    top: 10px;
    background: white;
    width: 400px;
    height: 250px;
    border-radius: 4px;
}

.model:target {
    visibility: visible;
    opacity: 1;
}

.isscroll {
    width: 100%;
    height: 40px;
    background: #333333f7;
    backdrop-filter: blur( 9px );
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    position: sticky;
    top: 0;
    color: white;
    z-index: 2;
    border-radius: 4px;
    overflow: hidden;
    white-space: nowrap;
}

.innerinfo {
    padding: 15px;
}

#colorofroute {
    display: inline-block;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    height: 23px;
    background: #33333340;
    /* backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 15px ); */
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1em;
    color: white;
}

#overall_departures {
    display: block;
}

#departureForEachRoute {
    float: right;
}

.close-box {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fe0606;
    text-decoration: none;
    font-size: 30px;
    z-index: 3;
}

@keyframes my-animation {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}
