@media (max-width: 784px) {
    .left_navbar {
        display: none;
        width: 35%;
        background-color: #666;
        z-index: 2;
    }

    .light_mode .left_navbar {
        background-color: #aaa;
    }

    .left_navbar li {
        width: 97%;
    }

    .left_navbar li a.closebtn {
        display: block;
    }

    .main {
        width: 100%;
    }

    .left_navbar .x:hover {
        background-color: #39bf5898;
        transition: 0.5s;
    }

    .main h2 i {
        display: block;
    }
}

@media (max-width: 600px) { 
    .left_navbar {
        width: 100%;
        z-index: 3;
    }
}