@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geologica", sans-serif;
}

body {
    background-color: #2e2e2e;
    color: white;
    transition: 0.4s;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#0398fc, #dedede);
    z-index: -1;
    clip-path: circle(22% at 30% 20%);
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#dedede, #0398fc);
    z-index: -1;
    clip-path: circle(22% at 70% 80%);
}

.left_navbar {
    width: 22%;
    height: 100vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 16px;
    position: sticky;
    padding: 10px;
    font-size: 18px;
    list-style-type: none;
}

.left_navbar li {
    width: 20vw;
    border-radius: 10px;
    padding: 5px;
}

.left_navbar li.active {
    background-color: #0398fc98;
}

.left_navbar li:hover:not(.active, .x) {
    background-color: #0398fc98;
    transition: 0.5s;
}

.left_navbar li a.closebtn {
    display: none;
}

.left_navbar li a {
    display: block;
    width: 250px;
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 15px;
    font-weight: 500;
}

.globe {
    color: rgb(10, 161, 45);
    font-size: 15px;
}

.copyright {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 100;
}

.main {
    float: right;
    width: 78%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    overflow-y: hidden;
}

.window {
    float: right;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 20px;
    right: 0;
    bottom: 0;
}

#bus_info, #bus_lines, #bus_departures, #bus_alerts, #bus_map {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #0398fc;
}

#bus_info, #bus_routes, #bus_alerts {
    margin-top: 20px;
}

#bus_map {
    width: 100%;
    margin-left: 0px;
}

#sectionheader {
    font-size: 40px;
    margin-top: 55px;
}

#sectionheader i {
    display: none;
}

.info {
    width: 50%;
    height: 100%;
    padding-right: 20px;
}

.info #desc {
    padding-right: 20px;
    margin-top: 15px;
}

.info #desc a {
    outline: none;
    color: #5665a3;
}

.stats {
    float: right;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    overflow-y: auto;
}

.began_operation, .no_of_lines, .contact {
    width: 96%;
    height: 40%;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 25px;
    word-wrap: break-word;
    overflow-y: auto;
}

.began_operation h2, .no_of_lines h2, .contact h2 {
    font-weight: normal;
    margin-top: 60px;
    margin-left: 20px;
}

.began_operation p, .no_of_lines p {
    margin-left: 20px;
    font-size: 50px;
}

.contact p {
    font-size: 30px;
    margin-left: 20px;
}

#lines {
    overflow-y: auto;
}

#list_of_bus_lines {
    position: relative;
    list-style-type: none;
    margin-top: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#list_of_bus_lines li {
    margin: 10px;
}

#route_bus, #lod_labus, #affectedroutes, #route_rad {
    display: inline-block;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    height: 23px;
    background: #33333340;
    border-radius: 5px;
    border: 1px solid black;
    color: white;
    font-size: 1em;
    text-align: center;
}

#desc_of_each_bus_route {
    width: fit-content;
    text-align: right;
    margin-right: 10px;
    right: 50px;
}

#departures {
    overflow-y: auto;
}

#departures input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #eeeeee40;
    border: 1px solid #eeeeee40;
    color: white;
    padding-left: 10px;
}

#departures input::placeholder {
    color: white;
}

#departures input:active {
    outline: none;
}

.headerforbus {
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
}

#list_of_bus_departures {
    width: 100%;
    height: 400px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 10px;
    overflow-y: auto;
}

#busline_for_departure {
    margin: 10px;
}

#hod_labus {
    position: relative;
    left: 5px;
}

#depart_time_labus {
    float: right;
    position: relative;
    right: 3px;
}

.alerts_in_busstop {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    height: 200px;
    background: rgba( 255, 255, 255, 0.25 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
}

#each_busstop_alert {
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    list-style-type: none;
}

.alert_entity_agency, .alert_entity_routes {
    width: 100%;
    height: fit-content;
    background: rgba( 255, 255, 255, 0.25 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    overflow-y: auto;
}

.alert_entity_routes {
    height: 400px;
}

.alert_entity_agency h3, .alert_entity_routes h3 {
    margin-left: 5px;
}

#alert_desc_agency, #alert_desc_routes {
    width: 100%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    list-style-type: none;
}

#map_inter {
    overflow-y: auto;
}

#map {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    margin-top: 20px;
}

#range_of_routes {
    width: 100%;
    height: 300px;
    background: rgba( 255, 255, 255, 0.25 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    overflow-y: auto;
}

#rir {
    list-style-type: none;
    margin-bottom: 5px;
}

.mapboxgl-popup-content {
    color: black;
    width: fit-content;
}