@media (max-width: 988px) {
    .left_navbar {
        display: none;
        width: 35%;
        background-color: #666;
        z-index: 3;
    }

    .light_mode .left_navbar {
        background-color: #aaa;
    }

    .left_navbar li {
        width: 97%;
    }

    .left_navbar li a.closebtn {
        display: block;
    }

    .left_navbar .x:hover { 
        background-color: #db4242;
        transition: 0.5s;
    }

    .main {
        width: 100%;
    }

    #sectionheader i {
        display: block;
    }
}

@media (max-width: 600px) { 
    #sectionheader {
        font-size: 30px;
    }

    #sectionheader i {
        margin-right: 0;
    }

    .left_navbar {
        width: 100%;
        z-index: 3;
    }

    .window {
        overflow-y: auto;
    }

    .info {
        width: 100%;
        height: 100%;
        padding-right: 0;
    }

    #desc {
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 5px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        padding: 20px;
    }

    .stats {
        display: none;
    }

    #line_for_departure_bus {
        width: 93%;
        height: fit-content;
        overflow: hidden;
        background: rgba( 255, 255, 255, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 5px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    #route_headsign {
        width: 90%;
    }

    #line_for_each_departure {
        margin-left: 2px;
    }

    #route_depart_bus {
        left: 1.5px;
    }

    .wrapper_for_departure_bus {
        padding-right: 5px;
    }
}