body::before {
    background-image: linear-gradient( #0398fc, #dedede);
}

body::after {
    background-image: linear-gradient( #dedede, #39bf59);
}

.left_navbar li.active {
    background-color: #0398fc98;
}

.left_navbar li:hover:not(.active, .x) {
    background-color: #39bf5998;
    transition: 0.5s;
}