/* Responsiveness */
@media (max-width: 988px) {
    .left_navbar {
        display: none;
        width: 35%;
        background-color: #666;
        z-index: 3;
    }

    .light_mode .left_navbar {
        background-color: #aaa;
    }

    .left_navbar li {
        width: 97%;
    }

    .left_navbar li a.closebtn {
        display: block;
    }

    .left_navbar .x:hover { 
        background-color: #0398fc98;
        transition: 0.5s;
    }

    .main {
        width: 100%;
    }

    #nameswitch i {
        display: block;
    }

    .alert_entity {
        width: 90%;
    }
}

@media (max-width: 600px) { 
    #nameswitch {
        font-size: 30px;
    }

    .left_navbar {
        width: 100%;
        z-index: 3;
    }

    .window {
        overflow-y: auto;
    }

    .info {
        width: 100%;
        height: 100%;
    }

    .stats {
        float: left;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        display: none;
    }

    #departures input, .headerforbus, #bus_departures, #list_of_departures_bus, #bus_routes, .alerts_stop_bus {
        margin-left: 9px;
    }

    #line_for_departure_bus {
        width: 93%;
        height: fit-content;
        overflow: hidden;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 5px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

    #route_headsign {
        width: 90%;
    }

    #line_for_each_departure {
        margin-left: 2px;
    }

    #route_depart_bus {
        left: 1.5px;
    }

    .wrapper_for_departure_bus {
        padding-right: 5px;
    }

    .alert_entity_agency, .alert_entity_routes, #bus_alerts, #bus_lines {
        width: 92%;
    }

    #alerts input, .headerforbusalerts, #alert_desc_routes, #alert_desc_agency, #each_stop_alert {
        margin-left: 10px;
    }
}


/* Scrollbars */
#lines::-webkit-scrollbar, #map_inter::-webkit-scrollbar, #about_buses::-webkit-scrollbar, #departures::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

#lines::-webkit-scrollbar-track, #map_inter::-webkit-scrollbar-track, #about_buses::-webkit-scrollbar-track, #departures::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode #lines::-webkit-scrollbar-track, .light_mode #map_inter::-webkit-scrollbar-track, .light_mode #about_buses::-webkit-scrollbar-track, .light_mode #departures::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

#lines::-webkit-scrollbar-thumb, #map_inter::-webkit-scrollbar-thumb, #about_buses::-webkit-scrollbar-thumb, #departures::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.light_mode #lines::-webkit-scrollbar-thumb, .light_mode #map_inter::-webkit-scrollbar-thumb, .light_mode #about_buses::-webkit-scrollbar-thumb, .light_mode #departures::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.stats::-webkit-scrollbar, #range_of_routes::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

.stats::-webkit-scrollbar-track, #range_of_routes::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode .stats::-webkit-scrollbar-track, .light_mode #range_of_routes::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.stats::-webkit-scrollbar-thumb, #range_of_routes::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.light_mode .stats::-webkit-scrollbar-thumb, .light_mode #range_of_routes::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.alerts_stop_bus::-webkit-scrollbar, .alert_entity_routes::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

.headerforbusalerts::-webkit-scrollbar {
    height: 5px;
    position: relative;
    right: 20px;
}

.alerts_stop_bus::-webkit-scrollbar-track, .alert_entity_routes::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.headerforbusalerts::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode .alerts_stop_bus::-webkit-scrollbar-track, .light_mode .alert_entity_routes::-webkit-scrollbar-track, .light_mode .headerforbusalerts::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.alerts_stop_bus::-webkit-scrollbar-thumb, .alert_entity_routes::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.headerforbusalerts::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.light_mode .alerts_stop_bus::-webkit-scrollbar-thumb, .light_mode .alert_entity_routes::-webkit-scrollbar-thumb, .light_mode .headerforbusalerts::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}