body::before {
    background-image: linear-gradient(#f7b731, #dedede);
}

body::after {
    background-image: linear-gradient(#dedede, #f7b731);
}

.left_navbar li.active {
    background-color: #f7b73198;
}

.left_navbar li:hover:not(.active, .x) {
    background-color: #f7b73198;
    transition: 0.5s;
}

.info {
    overflow-y: auto;
}

.info #desc a {
    color: #5665a3;
    outline: none;
}

.lines {
    padding: 10px;
}

.all_desc_routes {
    width: fit-content;
    margin-left: 10px;
}

#watertaxi_alert_entity {
    padding: 10px;
}