body::before {
    background-image: linear-gradient(#0039a6, #dedede);
}

body::after {
    background-image: linear-gradient(#dedede, #0039a6);
}

.left_navbar li.active {
    background-color: #0039a698;
}

.left_navbar li:hover:not(.active, .x) {
    background-color: #0039a698;
    transition: 0.5s;
}

.info {
    overflow-y: auto;
}

.info #desc a {
    color: #0039a6;
    outline: none;
}

.lines {
    padding: 10px;
}

.all_desc_routes {
    width: fit-content;
    margin-left: 10px;
}

#hod_nycsubway {
    left: 0;
}

#nycsubway_alert_entity {
    padding: 10px;
}

.dropdown_uniforms {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: #0039a6;
}

#nycsubway_alert_entity img {
    position: relative;
    top: 2px;
}

#spacer_of_lines {
    margin-left: 2px;
    margin-right: 2px;
}

.filtered-inverted {
    filter: invert(1);
}

#nycsubway_alert_entity ul {
    margin-left: 20px;
}