/* Pages */
#map_inter::-webkit-scrollbar, #about_ferries::-webkit-scrollbar, #departures::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

#map_inter::-webkit-scrollbar-track, #about_ferries::-webkit-scrollbar-track, #departures::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode #map_inter::-webkit-scrollbar-track, .light_mode #about_ferries::-webkit-scrollbar-track, .light_mode #departures::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

#map_inter::-webkit-scrollbar-thumb, #about_ferries::-webkit-scrollbar-thumb, #departures::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.light_mode #map_inter::-webkit-scrollbar-thumb, .light_mode #about_ferries::-webkit-scrollbar-thumb, .light_mode #departures::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


/* Sub-materials in each page */
.stats::-webkit-scrollbar, #range_of_routes::-webkit-scrollbar,
.began_operation::-webkit-scrollbar, .no_of_lines::-webkit-scrollbar, .contact::-webkit-scrollbar {
    width: 5px;
    position: relative;
    right: 20px;
}

.stats::-webkit-scrollbar-track, #range_of_routes::-webkit-scrollbar-track,
.began_operation::-webkit-scrollbar-track, .no_of_lines::-webkit-scrollbar-track, 
.contact::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.light_mode .stats::-webkit-scrollbar-track, .light_mode #range_of_routes::-webkit-scrollbar-track,
.light_mode .began_operation::-webkit-scrollbar-track, .light_mode .no_of_lines::-webkit-scrollbar-track, .light_mode .contact::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    position: relative;
    right: 2px;
}

.stats::-webkit-scrollbar-thumb, #range_of_routes::-webkit-scrollbar-thumb,
.began_operation::-webkit-scrollbar-thumb, .no_of_lines::-webkit-scrollbar-thumb, 
.contact::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

.light_mode .stats::-webkit-scrollbar-thumb, .light_mode #range_of_routes::-webkit-scrollbar-thumb,
.light_mode .began_operation::-webkit-scrollbar-thumb, .light_mode .no_of_lines::-webkit-scrollbar-thumb, .light_mode .contact::-webkit-scrollbar-thumb {
    border: 1px solid rgba(0, 0, 0, 0.18);
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}